{% load static %}
<div class="container">
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card card-body h-100 achievement-card">
                <img class="achievement-card-img" src="{% static '/images/icpc_logo.png' %}">
                <h5 class="card-title">International Collegiate Programming Contest</h5>
                <p class="card-subtitle">Qualified and participated in ICPC Dhaka Regional 2018 and 2019</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-body h-100 achievement-card">
                <img class="achievement-card-img" src="{% static '/images/ncpc_logo.png' %}">
                <h5 class="card-title">National Collegiate Programming Contest</h5>
                <p class="card-subtitle"> MIST National Colleiate Programming Contest. my team name is "__error__, and ranked is 66 among 150 teams. "</p>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card card-body h-100 achievement-card">
                <img class="achievement-card-img" src="{% static 'images/lu_carnival_logo.png' %}" alt="">
                <h5 class="card-title">Leading University Intra Programming Contest</h5>
                <p class="card-subtitle">1st Runner-up among 30 teams, where team name is "ataki_2441139" </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-body h-100 achievement-card">
                <img class="achievement-card-img mb-4" src="{% static 'images/bdosn_logo.png' %}" alt="">
                <h5 class="card-title"> BDOSN CodeRace</h5>
                <p class="card-subtitle"> Winning BDOSN coderace in November 2020, Which arranged by Bangladesh Programming Group  </p>
            </div>
        </div>
    </div>
</div>
