{% load static %}
<div class="container">
    <div class="row mb-4">
        <div class="col-md-3 campus-logo-wrapper logo-card">
            <img class="campus-logo" src="{% static 'images/campuslogo.webp' %}" alt="">
        </div>
        <div class="col-md-9 education-details-card">
            <h4 class="education-text-campus">Sylhet Polytecnic Institute</h4>
            <h5 class="education-text-dept">Computer Technology</h5>
            <span class="education-text-duration">July 2016 - July 2020</span>
            <span class="education-text-address">Sylhet, Bangladesh</span>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-3 campus-logo-wrapper logo-card">
            <img class="campus-logo" src="{% static 'images/jamialogo.jpeg' %}" alt="">
        </div>
        <div class="col-md-9 education-details-card">
            <h4 class="education-text-campus">Shahjalal Jamia Islamia School & College</h4>
            <h5 class="education-text-dept">Science Department</h5>
            <span class="education-text-duration">January 2011 - January 2015</span>
            <span class="education-text-address">Sylhet, Bangladesh</span>
        </div>
    </div>
</div>
<hr>