{% load static %}
<div class="container">
    <div class="row mb-4">
    <div class="col-md-3 company-logo-wrapper logo-card">
        <img class="common-logo" src="{% static 'images/liilab_logo.png' %}" alt="">
        <h5 class="company-role">Junior Software Engineer</h5>
        <a href="https://liilab.com/" target="_blank"><h5 class="company-title">LIILAB</h5></a>
        <span class="job-years">March 2021 - march 2022</span>
    </div>
    <div class="col-md-9 education-details-card">
        <h4>What I do!</h4>
        <hr>
        <ul>
            <li>Worked as a team leader at a WordPress team</li>
            <li>Researched about PSD to JSON package using NEXT JS</li>
            <li>Built RESTful APIs using Django framework</li>
            <li>Developed multiple blog sites and e-commerce site using advance WordPress themes </li>
            <li>Participated in code reviews, designed database schemas for multiple projects, did UX research, and contributed to making key decisions of several products
            </li>
        </ul>
    </div>
</div>
</div>