{% load static %}
{#</nav>#}
    <nav id="navbar-example2" class="navbar  navbar-expand-sm navbar-light bg-white">
    <div class="container-fluid">
        <a href="" class="navbar-brand"><img src="{% static "images/signature.png" %}"  alt="Mahfuj Ahmed"> </a>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experience">Experience</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="#achievement">Achievements</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Problem solving</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
