{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body h-100">
                <h5>Languages</h5>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-success">C</button>
                    <button type="button" class="btn btn-outline-success">C++</button>
                    <button type="button" class="btn btn-outline-success">Python</button>
                    <button type="button" class="btn btn-outline-success">Javascript</button>
                </div>
                <hr>
                <h5>Framework</h5>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-primary">Django</button>
                    <button type="button" class="btn btn-outline-primary">Django RESTful API</button>
                </div>
                <hr>
                <h5>Database</h5>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-danger">MySQL</button>
                    <button type="button" class="btn btn-outline-danger">MySQL Lite</button>
                </div>
                <hr>
                <h5>Web Technologies</h5>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-info">HTML</button>
                    <button type="button" class="btn btn-outline-info">CSS</button>
                    <button type="button" class="btn btn-outline-info">Bootstrap</button>
                    <button type="button" class="btn btn-outline-info">SASS</button>
                    <button type="button" class="btn btn-outline-info">WordPress</button>


                </div>
                <hr>
                <h5>Other Technologies</h5>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-dark">Git</button>
                    <button type="button" class="btn btn-outline-dark">Figma</button>
                    <button type="button" class="btn btn-outline-dark">Trello</button>
                </div>
                <hr>
            </div>

        </div>
        <div class="col-md-6">
            <div class="card card-body h-100">
                <h5>C/C++</h5>
                <div class="chart mb-5">
                    <footer>
                        <div class="crange" data-width="95%" style="width: 90%; color: #08fdd8"></div>
                    </footer>
                </div>
                <h5>Python</h5>
                <div class="chart mb-5">
                    <footer>
                        <div class="pythonrange" data-width="95%" style="width: 85%; color: #FF2253" ></div>
                    </footer>
                </div>
                <h5>Django</h5>
                <div class="chart mb-5">
                    <footer>
                        <div class="djangorange" data-width="95%" style="width: 80%;"></div>
                    </footer>
                </div>
                <h5>Bootstrap</h5>
                <div class="chart">
                    <footer>
                        <div class="bootstraprange" data-width="95%" style="width: 70%"></div>
                    </footer>
                </div>
        </div>
        </div>
    </div>
</div>